@page "/about"

<h1>Acerca de</h1>

<p>
    Soy un desarrollador .NET con varios años de experiencia en la creación de aplicaciones web y de escritorio. Me apasiona
    aprender nuevas tecnologías y compartir lo que sé con la comunidad.
</p>

<p>
    En este blog encontrarás artículos sobre .NET, Blazor, patrones de diseño, herramientas de desarrollo y mucho más.
    Mi objetivo es crear contenido útil y accesible para desarrolladores de todos los niveles.
</p>