@page "/contacto"

<h1>Contacto</h1>

<p>
    ¿Tienes alguna pregunta o comentario? Estoy encantado de escuchar de ti.
</p>

<p>Puedes ponerte en contacto conmigo a través de los siguientes medios:</p>

<ul>
    <li>Correo electrónico: <a href="mailto:correo@ejemplo.com">correo@ejemplo.com</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/jaimedeleonferreira" target="_blank" rel="noopener">Jaime De
            Leon</a></li>
    <li>Twitter: <a href="https://x.com/jdeleonferreira" target="_blank" rel="noopener">jdeleonferreira</a></li>
</ul>