@inherits LayoutComponentBase

<NavMenu />

<main class="container">
    <div class="content">
        @Body
    </div>
</main>

<footer class="footer">
    <p>&copy; @(DateTime.Now.Year) Blog de un desarrollador .NET. Todos los derechos reservados.</p>
</footer>